
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        Product 
        {% endblock title %}
    </title>
</head>

<body>
    {% block content %}
    <!-- this block is used to stored code of (ex: create,update,read, delete..  ) , we don't want to write the style code above again and again . we create a base file for template that other file can be used it as the same style-->
    {% endblock content %}
</body>

</html>
