{% extends "product/base.html" %}
{% block content %}
<h1>Deletion Confirmation</h1>
<form method="post" class="confirmation-container">
    {% csrf_token %}
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete this item? This action cannot be undone.</p>
    <div class="space-between">
        <button type="submit" class="btn btn-confirm">Confirm</button>
        <button type="reset" class="btn btn-cancel"><a href="{% url 'read' %}">Cancel</a></button> <!--if we click cancel , it will back to read web-->
    </div>
</form>
{% endblock content %}
